//All styles can be added here.

.grayscale{
  filter: grayscale(1);
}
.stickers{
  @apply bg-black bg-opacity-80 rounded-full p-2 w-14 h-14 mx-2 block hover:bg-opacity-90 transition-all;
  img{
    @apply opacity-95;
  }
  &:hover{
    img{
      @apply opacity-100;
    }
  }
}
.close{
  @apply w-5 h-5 absolute right-2.5 top-2.5 cursor-pointer bg-gradient-to-b from-red-600 to-red-700 rounded-full hover:bg-transparent;
  img{
    display: none;
  }
  &:hover{
    @apply to-transparent from-transparent;
    img{
      display: block;
    }
  }
}
footer{
  a{
    @apply block hover:underline no-underline px-3 border-r border-gray-500 uppercase;
    font-size: 0.6rem;
    &:last-child{
      @apply border-r-0;
    }
  }
}
.content{
  a{
    @apply underline;
  }
}
.modal{
  display: none;
}
.bulle{
  $largeur: 0.8rem;
  &:after, &:before{
    @apply absolute w-0 h-0;
    content: '';
    border-style: solid;
  }
  &:after{
    @apply left-1/2 bottom-0 hidden md:block;
    margin-bottom: -$largeur;
    margin-left: -$largeur/2;

    border-width: $largeur $largeur/2 0 $largeur/2;
    border-color: #ffffff transparent transparent transparent;
  }
  &:before{
    @apply bottom-1/2 left-0 absolute block md:hidden w-0 h-0;
    margin-bottom: -$largeur/2;
    margin-left: -$largeur;

    border-width: $largeur/2 $largeur $largeur/2 0;
    border-color: transparent #ffffff transparent transparent;
  }
}